<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Sign In</title>

    <style>
        .hidden {
            display: none;
        }
        .user-name {
            font-weight: bold;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form id="signin-form">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input id="email" class="form-control" type="text" name="email" value="some3@mail.com" />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input id="password" class="form-control" type="password" name="password" value="qwer123" />
                    </div>
                    <button id="submit" class="btn btn-outline-primary mx-2">Sign In</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form id="link-form" class="hidden" method="POST" action="/link">
                    <div class="form-group">
                        <h2 class="text-center">You signed in as <span id="user-name"></span></h2>
                    </div>
                    <input type="hidden" name="code" value="{{code}}" />
                    <input type="hidden" name="responseurl" value="{{responseurl}}" />
                    <input type="hidden" name="authToken" />
                    <button id="submit" class="btn btn-outline-primary mx-2" type="submit">Link</button>
                    <button id="submit" class="btn btn-outline-primary mx-2" type="submit" form="seed-form">Seed Devices</button>
                    <button id="logout" class="btn btn-outline-danger mx-2 float-right" >Logout</button>
                </form>
                <form id="seed-form" class="hidden" method="POST" action="/seed">
                    <input type="hidden" name="authToken" />
                    {{!-- Submit button in link form --}}
                </form>
            </div>
        </div>
    </div>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.20.0/firebase-app.js"></script>

    <script src="https://www.gstatic.com/firebasejs/7.20.0/firebase-auth.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "",
            authDomain: "victory-light.firebaseapp.com",
            databaseURL: "https://victory-light.firebaseio.com",
            projectId: "victory-light",
            storageBucket: "victory-light.appspot.com",
            messagingSenderId: "",
            appId: ""
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);

        $(document).ready(function () {

            $('#submit').click(function (e) {

                e.preventDefault();
                signIn();
            });

            $('#logout').click(function (e) {

                e.preventDefault();
                signOut();
            });
        });

        function signIn() {

            let email = $('#email').val();
            let password = $('#password').val();

            firebase.auth().signInWithEmailAndPassword(email, password).catch(function (error) {
                // Handle Errors here.
                var errorCode = error.code;
                var errorMessage = error.message;

                console.error(errorCode + ': ' + errorMessage);
            });
        }

        function signOut() {

            firebase.auth().signOut().then(function () {
                // Sign-out successful.
            }).catch(function (error) {
                console.error(error);
            });
        }

        firebase.auth().onAuthStateChanged(function (user) {
            if (user) {
                // User is signed in.
                var displayName = user.displayName;
                var email = user.email;
                var emailVerified = user.emailVerified;
                var photoURL = user.photoURL;
                var isAnonymous = user.isAnonymous;
                var uid = user.uid;
                var providerData = user.providerData;

                user.getIdToken(true)
                    .then((token) => {
                        $('[name=authToken]').val(token);
                        $('#user-name').text((displayName || '') + ' - ' + email);
                        $('#signin-form').fadeOut(200);
                        $('#link-form').fadeIn(200);
                        $('#seed-form').fadeIn(200);
                    })
                    .catch((error) => {
                        console.error(error);
                    });

            } else {
                $('#signin-form').fadeIn(200);
                $('#link-form').fadeOut(200);
                $('#seed-form').fadeOut(200);
            }
        });
    </script>
</body>

</html>